<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tour Of Heroes Flask - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <h1>Tour Of Heroes Flask</h1>
    <nav>
        <a href="{{ url_for('index') }}">Dashboard</a>
        <a href="{{ url_for('heroes') }}">Heroes</a>
    </nav>
    {% block content %} {% endblock %}
</body>