{% extends "base.html" %} {% block title %} {{hero.name}} {% endblock %} {% block content %}

<div id="features-wrapper">
    <div class="container">
        <div class="row" *ngIf="hero">
            <div class="col-5 col-12-medium">
                <!-- Box -->
                <section class="box feature">
                    <a href="{{url_for('hero_detail',id=hero.id)}}" class="image featured"><img src="{{ url_for('static',filename='alteregos/' + hero.alterEgo.lower().replace(' ','-') + '.png') }}" alt="" /></a>
                </section>
            </div>
            <div class="col-7">
                <form action="{{ url_for('update_hero', id=hero.id) }}" method="post">
                    <div class="form-group">
                        <label for="hero_name">
                            <input id="hero_name" name="hero_name" value="{{hero.name}}" placeholder="Name">
                            <span>Hero name</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="alterEgo">
                            <input id="alterEgo" name="alterEgo" value="{{hero.alterEgo}}" placeholder="Alter ego">
                            <span>Alter ego</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="description">
                            <textarea id="description" name="description" placeholder="Description">{{hero.description}}</textarea>
                            <span>Description</span>
                        </label>
                    </div>
                    <div class="buttons">
                        <button type="submit">Save</button>
                        <a class="button" href="{{ url_for('heroes') }}">Go back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}