{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}


<h2 class="title">Top Heroes</h2>

<div class="heroes-menu">

    {% for hero in heroes %}
    <a href="{{ url_for('hero_detail', id=hero.id) }}">{{ hero.name }}</a> {% endfor %}

</div>
<form action="{{ url_for('search') }}" class="search">
    <label>Hero Search</label>
    <div id="search">
        <div class="t">
            <input type="text" name="query" placeholder="Search">
        </div>
        <input type="submit" value="Search">
    </div>
</form>
{% include "messages.html" %} {% endblock %}